@model IEnumerable<PecnumiaBank27.Models.Transcation>

@{
    ViewBag.Title = "Index";
}

<h2>Transcations</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PayeeAccountNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BeneficiaryAccNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChequeNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PayeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BankName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IFSC)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PayeeAccountNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BeneficiaryAccNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChequeNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PayeeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BankName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IFSC)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit" ,new { id=item.Id }) 
            @Html.ActionLink("Details", "Details" ,new { id=item.Id }) 
            @Html.ActionLink("Delete", "Delete" ,new { id=item.Id })
        </td>
    </tr>
}

</table>
